<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="details content">
        <h2> <%= projects.title %> </h2>
        <div class="content">
            <p><%= projects.description %></p>
        </div>
        <div>
            <p> <%= projects.project_url %> </p>
            <p> <%= projects.gitRepository %> </p>
        </div>
        <a class="delete" data-doc="<%= projects._id %>"> Delete</a>
    </div>
    <script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/projects/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((responce)=> responce.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        })
    </script>

    <%- include('./partials/footer.ejs') %>

</body>
</html>